html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

#container {
    align: center;
    min-height: 100%;
    height: 100%;
    position: relative;
    padding-left: 5%;
    padding-right: 5%;
    text-align: center;
}

.desc {
    text-align: justify;
    text-justify: inter-word;
    font-family: monospace;
}

.backup-content {
    text-align: justify;
    text-justify: inter-word;
    font-family: monospace;
    background-color: lightgray;
    overflow: scroll;
}
